<h1>Facebook Search</h1>
<%= link_to "View recent searches", fb_searches_path %><br /><br />
<%= form_for(@fb_search) do |f| %>
  <%= f.label :keywords %><br />
  <% if @fb_search.errors.any? %>
    <% @fb_search.errors.full_messages.each do |msg| %>
      <span class="error"><%= msg %></span><br />
    <% end %>
  <% end %>
  <%= f.text_field :keywords %><br />
  <%= f.label :search_type, "Type" %><br />
  <%= f.select :search_type, FacebookApi::TYPES %><br />

  <%= f.submit "Search" %>
<% end %>
