<h1>Search Results: <%= @fb_search.keywords %></h1>
<%= link_to "Back to new search", root_path %><br /><br />
<table>
  <tr>
    <th><%= @other_attr ? @other_attr.capitalize : "Error" %></th>
    <th><%= @fb_search.type.capitalize %></th>
  </tr>
  <% if @fb_search.type === "post" %>
    <% @results.each do |post| %>
      <% if post.message %>
        <tr>
          <td class="user">
            <%= image_tag post.author.picture.get, :alt => post.author.name %>
            <%= post.author.name %>
          </td>
          <td class="post">
            <% if post.message.length <= 150 %>
              <%= post.message %>
            <% else %>
              <%= post.message[0...150] %>...
              <%= link_to "read more", "", :class => "show_modal" %>
              <div class="modal"><%= post.message %></div>
            <% end %>
            <% if post.picture %>
              <%= image_tag post.picture.get, :alt => "Photo for " << (post.name || "post") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% elsif @fb_search.type === "group" || @fb_search.type === "application" || @fb_search.type === "page" %>
    <% @results.each do |result| %>
      <tr>
        <td class="<%= @other_attr %>"><%= result.other_attr %></td>
        <td class="<%= @fb_search.type %>">
          <%= image_tag result.picture.get, :alt => result.name %>
          <%= result.name %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td>Login required to perform this search!</td><td>&nbsp;</td></tr>
  <% end %>
</table>
