<h1>Search Results: <%= @fb_search.keywords %></h1>
<%= link_to "Back to new search", root_path %>
<% fb = FacebookWrapper.new %>
<% search = fb.search(@fb_search.keywords, "post") %>
<table>
  <tr>
    <th>User</th><th>Post</th>
  </tr>
  <% search[:body]["data"].each do |post| %>
    <% if post["message"] %>
      <tr>
        <td><%= post["from"]["name"] %></td>
        <td>
          <% if post["message"].length <= 150 %>
            <%= post["message"] %>
          <% else %>
            <%= post["message"][0...150] %>...
            <%= link_to "read more", "#", :class => "show_modal" %>
            <div class="modal"><%= post["message"] %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
